

.list {
    background: $grey-light;

    .list-title {
        display: inline-block;
        background: $navy;
        color: white;
        @include padding-side( 10px, 10px );
    }

    .list-inner {
        @include padding;

        ul {
            padding-left: 35px;

            @include respond-to( $bp-m ) {
                padding-left: 55px;
            }

            li {
                position: relative;
                counter-increment: section;
                padding-bottom: 15px;

                &.sky:before { background: $sky; }
                &.seafoam:before { background: $seafoam; }
                &.red:before { background: $red; }
                &.orange:before { background: $orange; }
                &.navy:before { background: $navy; }
                &.gold:before { background: $gold; }

                &:before {
                    content: counter(section);
                    position: absolute;
                    @include font-bold;
                    top: 10px;
                    width: 30px;
                    height: 30px;
                    font-size: 1.3em;
                    line-height: 30px;
                    left: -40px;
                    background: $grey;
                    color: white;
                    border-radius: 50%;
                    text-align: center;

                    @include respond-to( $bp-m ) {
                        left: -65px;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}

